.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(57, 62, 73);
  color: white;
  list-style: none;
}


.links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
 
}

.stretch-to-fit{
  width:50%;
  margin-top: 3%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}